<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.genuitec.server.core.launchConfigurationType">
<stringAttribute key="IGenuitecServerLaunchConfigProvider.ATTR_DEFAULT_PROG_ARGS" value="start"/>
<stringAttribute key="IGenuitecServerLaunchConfigProvider.ATTR_DEFAULT_VM_ARGS" value="-Dcatalina.base=&quot;D:\workspace\MyEclipse2017\RRS_CUB\RRS3\.metadata\.me_tcat85&quot; -Dcatalina.home=&quot;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85&quot; -Dwtp.deploy=&quot;D:\workspace\MyEclipse2017\RRS_CUB\RRS3\.metadata\.me_tcat85\webapps&quot; -Djava.endorsed.dirs=&quot;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85\endorsed&quot; -Djava.library.path=&quot;E:\Program Files\Myeclipse 2017\binary\com.sun.java.jdk8.win32.x86_64_1.8.0.v112\bin;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85\bin&quot;"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<listAttribute key="org.eclipse.jdt.launching.CLASSPATH">
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry containerPath=&quot;org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/com.sun.java.jdk8.win32.x86_64_1.8.0.v112&quot; path=&quot;2&quot; type=&quot;4&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;E:/Program Files/Myeclipse 2017/binary/com.sun.java.jdk8.win32.x86_64_1.8.0.v112/lib/tools.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;E:/Program Files/Myeclipse 2017/plugins/com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440/tomcat85/bin/bootstrap.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
<listEntry value="&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot; standalone=&quot;no&quot;?&gt;&#13;&#10;&lt;runtimeClasspathEntry externalArchive=&quot;E:/Program Files/Myeclipse 2017/plugins/com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440/tomcat85/bin/tomcat-juli.jar&quot; path=&quot;3&quot; type=&quot;2&quot;/&gt;&#13;&#10;"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="com.genuitec.server.classpathProvider"/>
<booleanAttribute key="org.eclipse.jdt.launching.DEFAULT_CLASSPATH" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/com.sun.java.jdk8.win32.x86_64_1.8.0.v112"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="start"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="${jrebel_args} -Dcatalina.base=&quot;D:\workspace\MyEclipse2017\RRS_CUB\RRS3\.metadata\.me_tcat85&quot; -Dcatalina.home=&quot;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85&quot; -Dwtp.deploy=&quot;D:\workspace\MyEclipse2017\RRS_CUB\RRS3\.metadata\.me_tcat85\webapps&quot; -Djava.endorsed.dirs=&quot;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85\endorsed&quot; -Djava.library.path=&quot;E:\Program Files\Myeclipse 2017\binary\com.sun.java.jdk8.win32.x86_64_1.8.0.v112\bin;E:\Program Files\Myeclipse 2017\plugins\com.genuitec.eclipse.server.embedded.tomcat.core_13.0.0.me201612211440\tomcat85\bin&quot;"/>
<stringAttribute key="process_factory_id" value="com.genuitec.eclipse.core.ui.console.CustomConsoleProcessFactory"/>
<stringAttribute key="server-id" value="com.genuitec.embedded.tomcat.server.v85"/>
</launchConfiguration>
