<?xml version="1.0" encoding="UTF-8" standalone="no"?><plugin>
    <id>com.fr.plugin.chart.bitmapchart</id>
    <name><![CDATA[位图地图]]></name>
    <active>no</active>
    <version>1.0</version>
    <env-version>8.0</env-version>
    <vendor>finereport</vendor>
    <description><![CDATA[位图地图]]></description>
    <change-notes><![CDATA[无]]></change-notes>
    <extra-core>
    </extra-core>
    <extra-report/>
    <extra-designer>
    </extra-designer>

    <extra-chart-type>
        <ChartTypeProvider class="com.fr.plugin.chart.BitMapChartType"/>
    </extra-chart-type>

    <extra-chart-design>
        <ChartTypeInterfaceProvider class="com.fr.plugin.chart.BitMapChartInterface"/>
    </extra-chart-design>
</plugin>